<h1>Sherpa</h1>


    <form action="/signup" method="get">
        <button>Sign Up</button>
    </form>

    <form action="/login" method="get">
        <button>Login</button>
    </form>

    
       <form action="/show_quest_steps" method="get">
        <button>Get Questing</button>
       </form>
    