<% require "pry" %>

<h2>Quest Steps</h2>

<Ul>
    <% res.each do |hash| %>
        <% step_id = hash["id"].to_s %>
        <% if current_user[0]["steps_completed"].include? step_id %>   
            <% next %>
        <% else %>
            <li>
                <form action="/show_quest_steps" method="post">
                    <%= hash["step_name"] %>
                    <button value="<%= hash["id"] %>" name="id">Complete</button>
                </form>
            </li>           
        <% end %>
    <% end %>
    <% binding.pry %>
</Ul>