<% require "pry" %>

<h2>Quest Steps</h2>

<Ul>
    <% res.each do |hash| %>
            <li>
            <form action="/show_quest_steps" method="post">
                <%= hash["name"] %>
                <button value="<%= hash["id"] %>" name="id">Complete</button>
            </form>
        </li>
    <% end %>
</Ul>