<h2>signup</h2>

<form action="/signup" method="post">
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">
    <button>signup</button>
    
    <label for="">Level</label>
    <select name="user_level">    
        <option value="60">60</option>
        <option value="61">61</option>
        <option value="62">62</option>
        <option value="63">63</option>
        <option value="64">64</option>
        <option value="65">65</option>
        <option value="66">66</option>
        <option value="67">67</option>
        <option value="68">68</option>
        <option value="69">69</option>
        <option value="70">70</option>
    </select>
    
</form>